<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>管理システム</title>
        <script type="text/javascript">
            
        </script>
    </head>
    <body background="images/mainLayout.gif" style=" background-repeat:no-repeat ;background-size:100% 100%; background-attachment: fixed;">
        <div style="position:absolute; right:30px; bottom:30px;">
            <a id="login" th:href="@{/login}" th:text="ログイン"></a>
        </div>
    </body>
</html>