<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="common/layout">
    <head>
        <title>管理システム </title>
        <style type="text/css">
            table {
                display: inline-block;
            }
            
            table th, table td {
                border: none;
                background-color: transparent;
                height: 28px;
            }
        </style>
    </head>
    <body>
        <th:block layout:fragment="header">パースワード変更</th:block>
        <div layout:fragment="body">
            <form id="passwordEditView" th:action="@{/passwordEditView/editPassword}" method="post">
                <th:block th:object="${passwordForm}">
                    <div class="body-inner-container">
                        <div align="center">
                            <table>
                                <col style="width: 100px;">
                                <col style="width: 300px;">
                                <col style="width: 100px;">
                                <tr>
                                    <th align="left">新パースワード：</th>
                                    <td>
                                        <input type="password" style="width: 290px;" maxlength="20" th:field="*{password}" tabindex="1">
                                    </td>
                                    <td>
                                        <input type="submit" value="パースワード更新" tabindex="2" class="cmn-button-middle"/>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </th:block>
            </form>
        </div>
    </body>
</html>